/* font-family: 'Barlow', sans-serif;
font-family: 'EB Garamond', serif; */

/* ---------- PROGRESS INDICATOR STYLING ---------- */
/* The progress container (the light grey background) */
.progress-container {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 8px;
    background: #ccc;
}

/* The progress bar (the darker grey scroll indicator) */
.progress-bar {
    height: 8px;
    background: #8794ab;
    width: 0%;
}

/* ---------- SECTION STYLING ---------- */
/* Header Styling */


/* Section Styling */
.top-nav {
    position: relative;
    padding: 50px;
}

.section-title {
    position: relative;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name {
    font-size: 6em;
    position: relative;
    padding: 10px;
}

#slash {
    font-size: 10em;
    font-weight: 100;
    position: relative;
    padding: 10px;
}

#practicing {
    font-weight: 600;
    font-style: italic;
    position: relative;
    padding: 10px;
}

.section-text {
    position: relative;
    padding: 50px;
}

.section-video {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.section-photo {
    position: relative;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.photo-full {
    position: relative;
    width: 100%
}

.vertical-photo {
    position: relative;
    display: flex;
    width: 35%;
    height: auto;
    padding: 30px;
}

.horizontal-photo {
    position: relative;
    display: flex;
    bottom: 128px;
    width: 45%;
    height: auto;
    padding: 30px;
}

.group-photo {
    position: relative;
    display: flex;
}

.caption {
    position: relative;
    padding: 10px;
}

.section-end {
    position: relative;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer Styling */
footer {
    background-color: gray;
    position: relative;
    padding: 50px;
    align-items: center;
}

/* ---------- TEXT STYLING ---------- */
/* Heading and Text Styling */
.logo {
    width: 100px;
    height: 60px;
    background-color: black;
    position: relative;
}

h1,
h5 {
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
}

h4,
h6 {
    font-family: 'EB Garamond', serif;
}

p {
    font-family: 'EB Garamond', serif;
    padding: 50px 200px 50px 200px;
}

/* ---------- ASSET STYLING ---------- */
/* IMG and Video Styling */
img {
    max-width: 100%;
    height: auto;
}

.portrait {
    width: 30%;
    position: relative;
    left: 900px;
    bottom: 20px;
}

video {
    background-color: gray;
    width: 100%;
    height: 100%;
}

.infographic {
    background-color: black;
    width: 50%;
    min-height: 500px;
    position: relative;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    border: 5px solid #F2B646;
  }
/* ---------- MEDIA QUERIES ---------- */
@media screen and (max-width: 800px) {

    .left,
    .main,
    .right {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
}

@media screen and (max-width: 356px) {

    .left,
    .main,
    .right {
        width: 100%;
        /* The width is 100%, when the viewport is 356px or smaller */
    }
}